@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
h1{
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
}
h2{
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
}
.link{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: small;
}
.paragraf{
    font-family:'Proxima-Nova-Reg';
    font-size: large;
}